@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "UDEV Gothic JPDOC";
  src: url("../fonts/UDEVGothicJPDOC-Regular.ttf") format("truetype");
}

/* 各タグの設定 */

html,
body,
header,
main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* ヘッダー */

header {
  height: 3rem;
  background-color: #244558;
}

h1 {
  display: inline-block;
  line-height: 2rem;
  margin: 0.6rem 1.6rem;
}

.logo-mark {
  height: 1.8rem;
  margin-right: 1rem;
}

.logo-type {
  height: 1.4rem;
  margin: 0.2rem 0;
}

.config-button {
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.8rem;
  cursor: pointer;
  vertical-align: top;
}

.run-button {
  float: right;
  position: relative;
  font-size: 1.4rem;
  line-height: 3rem;
  height: 3rem;
  width: 7rem;
  background: white;
  cursor: pointer;
}

.run-button span {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background: #d60a34;
}

.run-button:hover span.pushable {
  opacity: 0.7;
}

.run-button:active span.pushable {
  opacity: 0.4;
}

/* メイン - 構造 */

.container {
  width: 100%;
  height: calc(100% - 3rem);
}

.left-column {
  float: left;
  width: calc(60% - 1px);
  height: 100%;
  border-right: 1px solid #ddd;
}

.right-column {
  float: right;
  width: 40%;
  height: 100%;
}

.right-column-row {
  width: 100%;
  height: 50%;
}

#source-editor {
  width: 100%;
  height: calc(100% - 2.4rem - 1.8rem);
}

#input-editor {
  width: 100%;
  height: calc(100% - 2.4rem);
  margin: 0;
  padding: 0;
}

#output-editor {
  width: 100%;
  height: calc(100% - 2.4rem);
  margin: 0;
  padding: 0;
}

/* メイン - コンポーネント */

.editor-title {
  display: flex;
  align-items: center;
  height: 2.4rem;
}

h3 {
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0.6rem 0.6rem 0.6rem 1rem;
}

.tip-button {
  display: inline-block;
  border-radius: 0.2rem;
  background: #999;
  color: white;
  font-size: 0.7rem;
  line-height: 0.6rem;
  padding: 0.3rem 0.4rem;
  margin: 0.55rem 0.2rem;
  cursor: pointer;
  font-weight: 300;
}

.tip-button:hover {
  opacity: 0.7;
}

.tip-button:active {
  opacity: 0.4;
}

.insert-buttons {
  display: flex;
  align-items: center;
  height: 1.3rem;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  font-size: 0.8rem;
  line-height: 1.3rem;
}

.insert-buttons::-webkit-scrollbar {
  display: none;
}

.insert-buttons .tip-button {
  margin-top: 0;
  margin-bottom: 0;
}

.insert-buttons .tip-button pre {
  display: inline;
  font-family: "UDEV Gothic JPDOC", monospace;
  background: #fff67f;
  color: black;
  border: 1px solid #888;
}

/* monaco エディタ */

.monaco-editor {
  --vscode-editorUnicodeHighlight-border: #d63031 !important;
}

.monaco-editor,
.monaco-editor-background,
.monaco-editor .inputarea.ime-input {
  background-color: rgba(0, 0, 0, 0) !important;
}

#highlight {
  position: absolute;
  overflow: hidden;
}

.stdin-highlight {
  position: absolute;
  background: #fff67f;
  z-index: -2;
}

.stdin-highlight::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}

.stdin-highlight-left::after {
  border-left: 1px solid #888;
}

.stdin-highlight-right::after {
  border-right: 1px solid #888;
}

/* 汎用クラス */

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.toggle-input {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.toggle-label {
  width: 54px;
  height: 32px;
  background: #fff;
  border: 2px solid #eee;
  position: relative;
  display: inline-block;
  border-radius: 16px;
  transition: 0.4s;
  box-sizing: border-box;
}

.toggle-label:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  left: 2px;
  top: 2px;
  z-index: 2;
  background: #eee;
  transition: 0.4s;
}

.toggle-input:checked + .toggle_label {
  border: 2px solid #4bd865;
}

.toggle-input:checked + .toggle_label:after {
  left: 24px;
  background: #4bd865;
}

.toggle-button {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 32px;
  margin: auto;
  vertical-align: text-top;
}

/* アニメーション */

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }

  45% {
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
    opacity: 0.7;
  }

  80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.ball-pulse > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  display: inline-block;
}
